# python
venv/
__pycache__/
*.pyc
*.log

.env

# Terraform
terraform/.terraform/
terraform/terraform.tfstate*

*.parquet
*.json
.gcp/

# dbt
dbt/target/
dbt/dbt_modules/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml